// -------------------
// font loading
// -------------------

fontify($lyon, $lyon-hash, $serif-hed-fb)
fontify($lyonitalic, $lyonitalic-hash, $serif-fb)
fontify($founders, $founders-hash, $sans-fb)

set-type-class(all, true)
