<!DOCTYPE html>

<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><-->

<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#">

<head>

	{{> base/meta}}

	<!-- smoosh -->
	{{> base/stylesheets}}
	<!-- endsmoosh -->

	<!-- boilerplate.css -->


	{{> base/font}}

	<!-- smoosh -->
	<script src="https://www.newamericaneconomy.org/wp-content/themes/nae-wp-theme/static/build/js/modernizr-custom.js" defer></script>
	<script type='text/javascript' src='https://www.newamericaneconomy.org/wp-content/themes/nae-wp-theme/static/js/jquery.min.js?ver=1.0.0'></script>
	<script src='critical.js'></script>
	<!-- endsmoosh -->

	{{> base/analytics}}

</head>

<body class="home blog post-nae-statement-administrations-proposed-change-public-charge-ground-inadmissibility page-has-cta" data-source="base.twig">
	<section class="main content" role="main">
		<div id="main-content" class="content__container">

			{{> base/header}}

			<div class="page page--article">
			  <article class="article article--report">
			  	<section class="article-container">
			  		<div class="module module--article">

							{{> base/article-toolbar}}
							<div class="article-content">

								{{> story/intro}}

							</div>
							
							<!-- PUT ALL YOUR HTML HERE-->
						</div>
					</section>
				</article>
			</div><!-- /page-article -->

		{{> base/news-footer}}

		</div>
	</section>

	{{!--
	<script src='{{basepath}}assets/scripts/d3.v5.0.0.min.js'></script> --}}
	<script src='{{basepath}}assets/scripts/d3.v4.10.2+jetpack.min.js'></script>
	<script src='bundle.js?version={{timestamp}}' async></script>
</body>

</html>