<!DOCTYPE html>

<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><-->

<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>

	{{> base/meta}}

	<!-- smoosh -->
	{{> base/stylesheets}}
	<!-- endsmoosh -->

	<!-- boilerplate.css -->


	{{> base/font}}

	<!-- smoosh -->
	{{> base/scripts}}
	<!-- endsmoosh -->

	<!-- {{> base/analytics}} -->

</head>

<body class="home blog page-has-cta">
	<section class="main content" role="main">
		<div id="main-content" class="content__container">

			{{> base/header}}

			{{> base/article-toolbar}}
			

			{{> story/intro}}
							
			<!-- PUT ALL YOUR HTML HERE-->

			{{> base/news-footer}}

		</div>
	</section>

	<script src='https://unpkg.com/intersection-observer@0.5.0/intersection-observer.js'></script>
  	<script src='https://unpkg.com/scrollama'></script>
	<script src='assets/scripts/entry.js'></script>
	
</body>

</html>