<nav class="article-toolbar">
	<ul class="article-toolbar__list">
		<li class="article-toolbar__list-item">
			<span class="article-toolbar__category">Share:</span>
			<ul class="article-toolbar__share-list">
                <li class="article-toolbar__share-list-item">
                    <a data-qs-service="twitter" data-qs-url="https://research.newamericaneconomy.org/report/power-of-the-purse-how-hispanics-contribute-to-the-u-s-economy/" data-qs-title="{{copy.title}}" class="article-toolbar__share-link article-toolbar__share-link--twitter qs-link"></a>
                </li>
                <li class="article-toolbar__share-list-item">
                    <a data-qs-service="facebook-share" data-qs-url="https://research.newamericaneconomy.org/report/power-of-the-purse-how-hispanics-contribute-to-the-u-s-economy/" data-qs-title="{{copy.title}}" class="article-toolbar__share-link article-toolbar__share-link--facebook qs-link"></a>
                </li>
                <li class="article-toolbar__share-list-item">
                    <a data-qs-service="mailto" data-qs-url="https://research.newamericaneconomy.org/report/power-of-the-purse-how-hispanics-contribute-to-the-u-s-economy/" data-qs-mail-body="{{copy.title}}" data-qs-subject="Power of the Purse: How Hispanics Contribute to the U.S. Economy" href="#"  class="article-toolbar__share-link article-toolbar__share-link--email qs-link"></a>
                </li>
            </ul>
        </li>
    </ul>
</nav>