<header class="header">
	<a class="header__link" href="/" title="New American Economy" rel="home">
		<img src="https://www.newamericaneconomy.org/wp-content/uploads/2017/11/primary_lockup_RGB-1.svg" class="header__logo">
		<div class="header__logo-animation"></div>
	</a>
	<nav class="header__nav showNav" role="navigation">
		<span class="header__mobile-menu--trigger-open naeicon-hamburger"></span>
		<ul class="header__nav-list">
			<li class="header__nav-list-item "><a href="https://www.newamericaneconomy.org/interactive-index/" class="header__nav-link">Cities Index</a></li>
			<li class="header__nav-list-item "><a href="https://www.newamericaneconomy.org/locations/" class="header__nav-link">Map the Impact</a></li>
			<li class="header__nav-list-item "><a href="https://www.newamericaneconomy.org/issues/" class="header__nav-link">Issues</a></li>
			<li class="header__nav-list-item "><a href="https://www.newamericaneconomy.org/reports/" class="header__nav-link">Reports</a></li>
			<li class="header__nav-list-item "><a href="https://www.newamericaneconomy.org/about/" class="header__nav-link">About</a></li>
			<li class="header__nav-list-item ">
				<a href="https://salsa4.salsalabs.com/o/51467/donate_page/donate" class="header__nav-link"><span style="color:#05CE7C; border-bottom: 1px solid black; display: inline-block; line-height: 1.00;">Donate</span>
				</a>
			</li>
			<li class="header__mobile-menu--close"><a href="#" class="icon-close header__mobile-menu--trigger-close"></a></li>
			<li class="header__mobile-menu--footer">
				<div class="mobile-menu__footer">
					<ul class="mobile-menu__share-list">
						<li class="mobile-menu__share-list-item">
							<a data-qs-service="twitter" data-qs-url="https://www.newamericaneconomy.org" data-qs-title="New American Economy" data-qs-tweet-body="Documenting the impact of immigrants on our nation&#039;s economy." class="mobile-menu__share-link mobile-menu__share-link--twitter qs-link" href="#"></a>
						</li>
						<li class="mobile-menu__share-list-item">
							<a data-qs-service="facebook-share" data-qs-url="https://www.newamericaneconomy.org" data-qs-title="New American Economy" class="mobile-menu__share-link mobile-menu__share-link--facebook qs-link" href="#"></a>
						</li>
						<li class="mobile-menu__share-list-item">
							<div class="location_list email">
								<div class="placeholder">
									<a href="javascript:void(0)" class="mobile-menu__share-link mobile-menu__share-link--email"></a>
								</div>
								<ul>
						      <li>
						      	<div>
						      		<a href="#" class="close"></a>
						      		<form name="data" action="/save" method="POST">
						      			<h2>Want this page in an email?</h2>
			                  <p>Enter your information below and we'll send you a link to this page for easy sharing.</p>
			                  <input type="hidden" name="redirect" value="/wp-admin/admin-ajax.php?action=emailPageThanks" />
			                  <!-- <input type="hidden" name="redirect" value="http://salsa4.salsalabs.com/o/51467/p/salsa/web/common/public/signup?signup_page_KEY=10498" /> -->
			                  <input type="hidden" name="table" value="supporter"/>
			                  <input type="hidden" name="key" value="0" />
			                  <input type="hidden" name="required" value="First_Name,Last_Name,Email," />
			                  <input type="hidden" name="organization_KEY" value="51467" />
			                  <input type="hidden" name="Receive_Email" value="3" />
			                  <input type="hidden" name="email_trigger_KEYS" value="34126" />
			                  <input type="hidden" name="link" value="groups" />
			                  <input type="hidden" name="linkKey" value="155108" />
			                  <input type="hidden" name="tag" id="tag" value="signup:page10498" />
			                  <input type="hidden" name="chapter_lookup" value="" />

			                  <input placeholder="First Name" title="First Name" type="text" id="f1" name="First_Name" class="blockInput salsa_first_name" value="" size="25" />

			                  <input placeholder="Last Name" title="Last Name" type="text" id="f2" name="Last_Name" class="blockInput salsa_last_name" value="" size="25" />

			                  <input placeholder="Email" title="Email" type="text" id="f3" name="Email" class="blockInput salsa_email" value="" size="25" />

			                  <button type="submit">Submit</button>
				              </form>
				            </div>
				          </li>
				        </ul>
				      </div>
				    </li>
				  </ul>
				</div>
			</li>
		</ul>
		<aside class="search-nav">
		<form action="/search" method="post" class="keyword_search">
		    <input type="text" class="keyword" name="post_keyword" placeholder="Search" value="">
		    <span class="naeicon-close close"></span>
		</form>
		</aside>
		<span class="naeicon-search search"></span>
	</nav>
</header>

