<div class="module module--recent-news">
	<div class="recent-news__container">
    <div class="recent-news__grid">
    	<div class="recent-news__grid-item recent-news__grid-item--reg">
    		<div class="recent-news__content">
          <h3 class="recent-news__h">About Us</h3>
          <p class="recent-news__about-text">
            New American Economy brings together more than 500 mayors and business leaders who support immigration reforms that will help create jobs for Americans today.

            <a href="http://newamericaneconomy.org/about" class="recent-news__more-link">More&hellip;</a>
          </p>
        </div>
      </div>
      <div class="recent-news__grid-item recent-news__grid-item--reg">
        <div class="recent-news__content">
          <h3 class="recent-news__h">The Latest</h3>
            <article class="recent-news__article">
            	<p class="p__sans recent-news__date">September 25, 2018</p>
              <h3 class="h2__sans recent-news__title"><a class="recent-news__title-link" href="https://www.newamericaneconomy.org/press-release/nae-statement-administrations-proposed-change-public-charge-ground-inadmissibility/">NAE Statement on Administration&#8217;s Proposed Change to Public Charge Ground of Inadmissibility</a></h3>
            </article>
            <article class="recent-news__article">
              <p class="p__sans recent-news__date">September 17, 2018</p>
              <h3 class="h2__sans recent-news__title"><a class="recent-news__title-link" href="https://www.newamericaneconomy.org/press-release/new-american-economy-releases-nae-cities-index-first-ever-analysis-measuring-effectively-cities-integrating-immigrants/">New American Economy Releases the NAE Cities Index, a First-Ever Analysis Measuring How Effectively Cities are Integrating Immigrants</a></h3>
            </article>
            <article class="recent-news__article">
              <p class="p__sans recent-news__date">September 12, 2018</p>
              <h3 class="h2__sans recent-news__title"><a class="recent-news__title-link" href="https://www.newamericaneconomy.org/press-release/foreign-born-residents-contributed-3-3-billion-kent-county-gdp-2016/">Foreign-Born Residents Contributed $3.3 Billion to Kent County GDP in 2016</a></h3>
            </article>
        </div>
      </div>
    </div><!-- /recent-news__grid-row -->
  </div><!-- /recent-news__content-->
</div>
<footer class="recent-news__footer">
  <section class="recent-news__footer-content">
  	<div class="recent-news__footer-row recent-news__footer-row--top">
		<nav class="recent-news__nav">
	        <ul class="recent-news__nav-list">
				<li class="recent-news__nav-list-item"><a href="https://www.newamericaneconomy.org/about/" class="recent-news__nav-link">About</a></li>
				<li class="recent-news__nav-list-item"><a href="https://www.newamericaneconomy.org/about/jobs/" class="recent-news__nav-link">Jobs</a></li>
				<li class="recent-news__nav-list-item"><a href="https://www.newamericaneconomy.org/press/" class="recent-news__nav-link">Press</a></li>
				<li class="recent-news__nav-list-item"><a href="https://www.newamericaneconomy.org/contact/" class="recent-news__nav-link">Contact</a></li>
		    </ul>
	    </nav>
    </div>

    <div class="recent-news__footer-row recent-news__footer-row--bottom">
      <p class="recent-news__footer-copyright">&copy; 2018 Partnership for a New American Economy Research Fund</p>
      <ul class="recent-news__share-list">
        <li class="recent-news__share-list-item">
          <a data-qs-service="twitter" data-qs-url="https://research.newamericaneconomy.org" data-qs-tweet-body="" class="recent-news__share-link recent-news__share-link--twitter qs-link" href="#"></a>
        </li>
        <li class="recent-news__share-list-item">
          <a data-qs-service="facebook-share" data-qs-url="https://research.newamericaneconomy.org" class="recent-news__share-link recent-news__share-link--facebook qs-link" href="#"></a>
        </li>
        <li class="recent-news__share-list-item">
          <a data-qs-service="mailto" data-qs-url="https://research.newamericaneconomy.org" data-qs-mail-body="" data-qs-subject="" href="#"  class="recent-news__share-link recent-news__share-link--email qs-link"></a>
        </li>
      </ul>
    </div>
  </section>
</footer>