<div class="module module--recent-news">
  <div class="email-sub-descrip">
    <p id="email-sub-header">
      Get the latest from NAE
    </p>
    <p id="email-sub-ask">Enter your information below to join NAE’s email list. We’ll only send you top-quality insights about immigration plus occasional opportunities to take action or get involved locally.</p>
  </div>
  <div class="recent-news__container">
    <script type='text/javascript' src='https://d1aqhv4sn5kxtx.cloudfront.net/actiontag/at.js' crossorigin='anonymous'></script>
     <div class="ngp-form"
         data-form-url="https://actions.everyaction.com/v1/Forms/uabTupR03kmCKJiT0OLaBw2"
         data-fastaction-endpoint="https://fastaction.ngpvan.com"
         data-inline-errors="true"
         data-fastaction-nologin="true"
         data-databag-endpoint="https://profile.ngpvan.com"
         data-databag="everybody">
    </div>
    <div class="email-sub-notice">
      <p>You will receive occasional emails from NAE. You can unsubscribe at any time.</p>
    </div>
    <div class="recent-news__grid">
      <div class="recent-news__grid-item recent-news__grid-item--reg">
        <div class="recent-news__content">
          <h3 class="recent-news__h">About Us</h3>
          <p class="recent-news__about-text">
            New American Economy brings together more than 500 mayors and business leaders who support immigration reforms that will help create jobs for Americans today.

            <a href="http://newamericaneconomy.org/about" class="recent-news__more-link">More&hellip;</a>
          </p>
        </div>
      </div>
    </div><!-- /recent-news__grid-row -->
  </div><!-- /recent-news__content-->
</div>
<footer class="recent-news__footer">
  <section class="recent-news__footer-content">
    <div class="recent-news__footer-row recent-news__footer-row--top">
    <nav class="recent-news__nav">
          <ul class="recent-news__nav-list">
        <li class="recent-news__nav-list-item"><a href="https://www.newamericaneconomy.org/about/" class="recent-news__nav-link">About</a></li>
        <li class="recent-news__nav-list-item"><a href="https://www.newamericaneconomy.org/about/jobs/" class="recent-news__nav-link">Jobs</a></li>
        <li class="recent-news__nav-list-item"><a href="https://www.newamericaneconomy.org/press/" class="recent-news__nav-link">Press</a></li>
        <li class="recent-news__nav-list-item"><a href="https://www.newamericaneconomy.org/contact/" class="recent-news__nav-link">Contact</a></li>
        </ul>
      </nav>
    </div>

    <div class="recent-news__footer-row recent-news__footer-row--bottom">
      <p class="recent-news__footer-copyright">&copy; 2019 Partnership for a New American Economy Research Fund</p>
      <ul class="recent-news__share-list">
        <li class="recent-news__share-list-item">
          <a data-qs-service="twitter" data-qs-url="https://research.newamericaneconomy.org" data-qs-tweet-body="" class="recent-news__share-link recent-news__share-link--twitter qs-link" href="#"></a>
        </li>
        <li class="recent-news__share-list-item">
          <a data-qs-service="facebook-share" data-qs-url="https://research.newamericaneconomy.org" class="recent-news__share-link recent-news__share-link--facebook qs-link" href="#"></a>
        </li>
        <li class="recent-news__share-list-item">
          <a data-qs-service="mailto" data-qs-url="https://research.newamericaneconomy.org" data-qs-mail-body="" data-qs-subject="" href="#"  class="recent-news__share-link recent-news__share-link--email qs-link"></a>
        </li>
      </ul>
    </div>
  </section>
</footer>