<div class="databrief_intro">
    <div class="intro_div">
      <h1 class="post_title">Data Brief Title</h1>
      <p class="date"><span><strong class="bold-text">Date:</strong></span>  &lt;Enter Date Here&gt;</p><img src="images/cthulu_van_v2.jpg" srcset="images/cthulu_van_v2-p-500x375.jpeg 500w, images/cthulu_van_v2.jpg 800w" sizes="(max-width: 479px) 92vw, 100vw" alt="" class="image">
      <p class="post_intro_p1">Spicy jalapeno bacon ipsum dolor amet buffalo prosciutto aute alcatra bresaola swine. Proident sunt tail cillum, aliqua hamburger ea jerky pariatur turkey pork belly frankfurter. </p>
      <p class="secondary_intro">Kielbasa bacon tail sed minim non. Doner elit aute, ham ball tip ground round frankfurter mollit pastrami picanha turkey eiusmod pork belly. Swine consequat short loin shank, jerky cupim brisket id ea chuck venison capicola. Mollit jowl meatball, buffalo fatback pariatur t-bone drumstick burgdoggen nisi ut. </p>
      <p class="secondary_intro">Do bacon magna frankfurter ad, dolor salami mollit tenderloin pork chop venison ea. Enim landjaeger anim, pig pork chop sunt cow tongue consectetur fatback bresaola. Tenderloin jowl tail swine. Burgdoggen in in ut, meatball porchetta nostrud.</p>
    </div>
    <div class="intro_img">
    </div>
  </div>

